main {
    scrollbar-color: #ffffff #000000; /* Cor da barra de rolagem */
}

/* Estilizando a parte do trilho da barra de rolagem */
main::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 16px;
}

/* Estilizando o indicador da barra de rolagem */
main::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px; /* Raio das bordas do indicador */
}

/* Estilizando a parte do trilho da barra de rolagem quando a barra está sendo arrastada */
main::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
    border-radius: 16px;
}